<div class="header">
  <h3>Information about person</h3>
  <hr />
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Personal details</h3>
  </div>
  <div class="panel-body">
    First name: <%= @person.first_name %> <br>
	Last name: <%= @person.last_name %> <br>
	Birthdate: <%= @person.birthdate.strftime("%-d of %B, %Y") %> <br>
  <a href="/people/<%= @person.id %>/edit">Edit details</a>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Numerology number is <%= @magic_num %></h3>
  </div>
  <div class="panel-body">
    <%= @message %><br>
  </div>
</div>

<a href="/people/">Back to people list</a>
