<!--<p><%= @message %></p>
<!--# comment these 2 strings for passing test -->

<!--<div class="well">
<p>Your birthdate in format MMDDYYYY is: <%= @birthdate %> </p>
<p>Your numerology number is <%= @magic_num %>. This means: <%= @message %> </p>
</div>
-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Your numerology number is <%= @magic_num %></h3>
  </div>
  <div class="panel-body">
    <%= @message %><br>
  </div>
</div>
 <a href="/#">Back home</a>
