<!--<p><%= @message %></p>
<!--# comment these 2 strings for passing test -->

<!--<div class="well">
<p>Your birthdate in format MMDDYYYY is: <%= @birthdate %> </p>
<p>Your numerology number is <%= @magic_num %>. This means: <%= @message %> </p>
</div>
-->

<div class="header">
	<h3>The numerology number is <%= @magic_num %> <br><small> Message -> <%= @magic_num %> </small> </h3>
	<hr />
</div>

<div class="well well-lg">
	<%= @message %>
</div>

